[Desktop Entry]
Name=TV set
Name[de]=Fernseher
Name[es]=Televisión
Name[fr]=Télévision
Name[ko]=ÅÚ·¹ºñÁ¯
Name[no]=Fjernsyn
Name[pt]=Televisão
Comment=Gnomovision applications
Comment[de]=Gnome Fernseher
Comment[es]=Aplicaciones Gnomovision
Comment[fr]=Gnomovision
Comment[ko]=±×³ë¸ðºñÀü
Comment[no]=Gnome fjernsyn
Comment[pt]=Aplicações Gnomovision
Exec=tvset
Icon=
Terminal=0
Type=Application
