[Desktop Entry]
Name=TV set
Name[es]=Televisión
Name[fr]=Télévision
Name[de]=Fernseher
Name[no]=Fjernsyn
Comment=Gnomovision applications
Comment[fr]=Gnomovision
Comment[de]=Gnome Fernseher
Comment[no]=Gnome fjernsyn
Exec=tvset
Icon=
Terminal=0
Type=Application
