[Desktop Entry]
Name=TV set
Name[de]=Fernseher
Name[es]=Televisión
Name[fi]=Televisio
Name[fr]=Télévision
Name[ja]=¥Æ¥ì¥Ó
Name[ko]=ÅÚ·¹ºñÁ¯
Name[no]=Fjernsyn
Name[pt]=Televisão
Name[pt_BR]=Televisão
Comment=Gnomovision applications
Comment[de]=Gnome Fernseher
Comment[es]=Aplicaciones Gnomovision
Comment[fi]=GNOME-televisio
Comment[fr]=Gnomovision
Comment[ja]=Gnomovision¥¢¥×¥ê¥±¡¼¥·¥ç¥ó
Comment[ko]=±×³ë¸ðºñÀü
Comment[no]=Gnome fjernsyn
Comment[pt]=Aplicações Gnomovision
Comment[pt_BR]=Aplicações Gnomovision
Exec=tvset
Icon=
Terminal=0
Type=Application
