[Desktop Entry]
Name=Extace Waveform Display
Name[no]=Extace Bølgeformvisning
Name[fr]=Extace Waveform
Comment=Audio Waveform Monitor
Comment[no]=Lydbølgemonitor
Comment[fr]=Visualisation graphique d'ondes sonores
Exec=extace
Icon=extace.png
Info=Audio Waveform Monitor
Terminal=0
Type=Application
