[Desktop Entry]
Name=Extace Waveform Display
Name[no]=Extace Bølgeformvisning
Comment=Audio Waveform Monitor
Comment[no]=Lydbølgemonitor
Exec=extace
Icon=extace.png
Info=Audio Waveform Monitor
Terminal=0
Type=Application
