[Desktop Entry]
Name=Extace Waveform Display
Comment=Audio Waveform Monitor
Exec=extace
Icon=extace.png
Info=Audio Waveform Monitor
Terminal=0
Type=Application
