[Desktop Entry]
Name=CD Player
Name[cs]=CD pøehrávaè
Name[el]=Áíáãíşóôçò CD
Name[es]=Lector de CD
Name[et]=CD-mängija
Name[fi]=CD-soitin
Name[fr]=Lecteur CD
Name[ja]=CD¥×¥ì¡¼¥ä¡¼
Name[ko]=¾¾µğ Àç»ı±â
Name[no]=CD-spiller
Name[pt]=Leitor de CD
Name[pt_BR]=Leitor de CD
Name[ru]=CD ğÒÏÉÇÒÙ×ÁÔÅÌØ
Name[sv]=CD-spelare
Name[uk]=CD ğÒÏÇÒÁ×ÁŞ
Name[wa]=Lijheu di CD
Comment=Gnome CD Player
Comment[cs]=Gnome CD pøehrávaè s podporou CDDB
Comment[el]=Áíáãíşóôçò CD GNOME ìå õğïóôŞñéîç CDDB
Comment[es]=Lector de CD GNOME con soporte para CDDB
Comment[et]=GNOME CD-mängija
Comment[fi]=GNOME-CD-soitin
Comment[fr]=Lecteur CD GNOME
Comment[ja]=GnomeÈÇCD¥×¥ì¡¼¥ä¡¼
Comment[ko]=±×³ğ ¾¾µğ Àç»ı±â
Comment[no]=Gnome CD-spiller
Comment[pt]=Leitor de CD GNOME com suporte para CDDB
Comment[pt_BR]=Leitor de CDs com suporte a CDDB
Comment[ru]=ğÒÏÉÇÒÙ×ÁÔÅÌØ CD Gnome
Comment[sv]=Gnome CD-spelare
Comment[uk]=ğÒÏÇÒÁ×ÁŞ CD ÄÌÑ Gnome
Comment[wa]=Lijheu di plakes lazer di Gnome
Exec=gtcd
Icon=tcd/cdrom.xpm
Terminal=0
Type=Application
