[Desktop Entry]
Name=CD Player
Name[es]=Lector de CD
Name[et]=CD-mДngija
Name[fi]=CD-soitin
Name[fr]=Lecteur CD
Name[ja]=CD╔в╔Л║╪╔Д║╪
Name[ko]=╬╬╣П юГ╩Щ╠Б
Name[no]=CD-spiller
Name[pt]=Leitor de CD
Name[pt_BR]=Leitor de CD
Name[ru]=CD Проигрыватель
Name[sv]=CD-spelare
Name[cs]=CD pЬehrАvaХ
Comment=Gnome CD Player
Comment[es]=Lector de CD GNOME con soporte para CDDB
Comment[et]=GNOME CD-mДngija
Comment[fi]=GNOME-CD-soitin
Comment[fr]=Lecteur CD GNOME
Comment[ja]=GnomeхгCD╔в╔Л║╪╔Д║╪
Comment[ko]=╠вЁП ╬╬╣П юГ╩Щ╠Б
Comment[no]=Gnome CD-spiller
Comment[pt]=Leitor de CD GNOME com suporte para CDDB
Comment[pt_BR]=Leitor de CDs com suporte a CDDB
Comment[ru]=Проигрыватель CD Gnome
Comment[sv]=Gnome CD-spelare
Comment[cs]=Gnome CD pЬehrАvaХ s podporou CDDB
Exec=gtcd
Icon=tcd/cdrom.xpm
Terminal=0
Type=Application
