[Desktop Entry]
Name=CD Player
Name[es]=Lector de CD
Name[fr]=Lecteur CD
Name[no]=CD-spiller
Name[pt]=Leitor de CD
Comment=Gnome CD Player
Comment[es]=Lector de CD GNOME con soporte para CDDB
Comment[fr]=Lecteur CD GNOME
Comment[no]=Gnome CD-spiller
Comment[pt]=Leitor de CD GNOME com suporte para CDDB
Exec=gtcd
Icon=tcd/cdrom.xpm
Terminal=0
Type=Application
