[Desktop Entry]
Name=Audio mixer
Namer[es]=Mezcladora de audio
Namer[de]=Lautstärkeregler
Name[ko]=¿Àµð¿À ¹Í¼­
Name[fr]=Mixeur Audio
Comment=Gnome Mixer
Comment[es]=Mezacladora de audio de Gnome
Comment[de]=Gnome Lautstärkeregler
Comment[ko]=±×³ð ¿Àµð¿À ¹Í¼­
Comment[fr]=Mixeur Audio de Gnome
Exec=gmix
Icon=gmix.xpm
Terminal=0
Type=Application
