[Desktop Entry]
Name=Audio Mixer
Name[fr]=Mixer Audio
Name[no]=Lydmikser
Comment=Audio Mixer
Comment[fr]=Mixer Audio
Comment[no]=Lydmikser
Exec=gmix
Icon=gnome-audio2.png
Info=Gnome Mixer
Terminal=0
Type=Application
