[Desktop Entry]
Name=Audio mixer
Namer[es]=Mezcladora de audio
Namer[de]=Lautstärkeregler
Comment=Gnome Mixer
Comment[es]=Mezacladora de audio de Gnome
Comment[de]=Gnome Lautstärkeregler
Exec=gmix
Icon=gmix.xpm
Terminal=0
Type=Application
