[Desktop Entry]
Name=Sound recorder
Name[sl]=Snemalnik zvoka
Name[cs]=Záznamník zvukù
Name[da]=Lydoptager
Name[de]=Sound-Recorder
Name[fi]=Ääninauhuri
Name[fr]=Enregistreur de son
Name[lt]=Garso áraðymas
Name[no]=Lydinnspilling
Name[pt_BR]=Gravador de Som
Name[sk]=Záznam zvuku
Name[sv]=Ljudinspelare
Name[tr]=Ses kayýtçýsý
Comment=A simple soundrecording program for GNOME
Comment[sl]=Enostaven program za zajem zvoka za GNOME
Comment[cs]=Jednoduchý záznamník zvukù pro GNOME
Comment[da]=Et simpelt lydindspiller til Gnome
Comment[de]=Ein schlichter Sound-Recorder für GNOME
Comment[fi]=Yksinkertainen ääninauhuri Gnomelle
Comment[fr]=Un simple enregistreur de son pour GNOME
Comment[lt]=Paprasta garso áraðymo programa
Comment[no]=Et enkelt program for lydinnspilling i GNOME
Comment[pt_BR]=Um programa simples de gravação de som para GNOME
Comment[sk]=Jednoduchý program pre záznam zvuku pre GNOME
Comment[sv]=Ett enkelt ljudinspelningsprogram för GNOME
Comment[tr]=Gnome için ufak bir ses kayýtçýsý
Exec=grecord
Icon=gnome-grecord.png
Terminal=0
Type=Application
