[Desktop Entry]
Name=Sound recorder
Name[sv]=Ljudinspelare
Comment=A simple soundrecording program for GNOME
Comment[sv]=Ett enkelt ljudinspelningsprogram för GNOME
Exec=grecord
Icon=gnome-unknown.png
Terminal=0
Type=Application