[Desktop Entry]
Name=Sound recorder
Name[de]=Sound-Recorder
Name[lt]=Garso áraðymas
Name[sv]=Ljudinspelare
Name[tr]=Ses kayýtçýsý
Comment=A simple soundrecording program for GNOME
Comment[de]=Ein schlichter Sound-Recorder für GNOME
Comment[lt]=Paprasta garso áraðymo programa
Comment[sv]=Ett enkelt ljudinspelningsprogram för GNOME
Comment[tr]=Gnome için ufak bir ses kayýtçýsý
Exec=grecord
Icon=gnome-unknown.png
Terminal=0
Type=Application
