[Desktop Entry]
Name=ESD Volume Meter
Name[cs]=ESD mìøidlo hlasitosti
Name[el]=ÌåôñçôŞò Ş÷ïõ ESD
Name[es]=Volúmen de ESD
Name[et]=ESD võimsusnäidik
Name[fi]=ESD-äänenvoimakkuusmittari
Name[fr]=Volume d'ESD
Name[gl]=Medidor de Volume de ESD
Name[ja]=ESD¥Ü¥ê¥å¡¼¥à¥á¡¼¥¿¡¼
Name[ko]=ESD º¼·ı ÃøÁ¤±â
Name[lt]=ESD garsumo matuoklis
Name[pt_BR]=Medidor de Volume
Name[uk]=çÕŞÎ¦ÓÔØ ESD
Comment=A Volume Unit Meter for ESD 
Comment[cs]=Jednotka mìøení hlasitosti pro ESD
Comment[el]=ÌåôñçôŞò Ş÷ïõ ãéá ôï ESD
Comment[es]=Un control de volume para el demonio de sonido ESD
Comment[et]=ESD helivaljuse näidik
Comment[fi]=ESD-äänipalvelimen äänenvoimakkuusmittari
Comment[fr]=Un contrôle du volume pour le daemon ESD
Comment[gl]=Un medidor de volume para o ESD
Comment[ja]=ESD²»ÎÌ¥ì¥Ù¥ë¥á¡¼¥¿¡¼
Comment[ko]=ESD¿ë º¼·ı ÃøÁ¤ ÇÁ·Î±×·¥
Comment[lt]=Garsumo matuoklis, skirtas ESD
Comment[pt_BR]=Medidor de volume para ESD
Comment[uk]=ëÅÒÕ×ÁÎÎÑ ÇÕŞÎ¦ÓÔÀ ÄÌÑ ESD
Exec=vumeter
Icon=gnome-vumeter.png
Info=An Audio Volume Meter
Terminal=0
Type=Application
