[Desktop Entry]
Name=ESD Volume Meter
Name[es]=Volúmen de ESD
Name[fr]=Volume d'ESD
Comment=A Volume Unit Meter for ESD 
Comment[es]=Un control de volume para el demonio de sonido ESD
Comment[fr]=Un contrôle du volume pour le daemon ESD
Exec=vumeter
Icon=
Info=An Audio Volume Meter
Terminal=0
Type=Application
